<!DOCTYPE html>
<html lang="en">
  <div class="navbar">
    <div class="links">
    <a class= "site-identity" href="/">FreedomBox</a>
    <ul class="other-links">
      <li class='main-nav'><a href="/about">About</a></li>
      <li class='main-nav'><a href="/people">People</a></li>
      <li class='main-nav'><a href="/build-or-buy">Build or Buy</a></li>
      <li class='main-nav'><a href="/use-cases">Use Cases</a></li>
      <li class="dropdown-icon">
        <i class="fa fa-bars"></i>
        <ul class="dropdown">
          <li><a href="/about">About</a></li>
          <li><a href="/people">People</a></li>
          <li><a href="/build-or-buy">Build or Buy</a></li>
          <li><a href="/use-cases">Use Cases</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </li>
  </span>
</div>
  </div>
  </html>
