---

---
/* Default CSS */
p, h1, h2, h3 {
    color: rgb(13, 29, 63);
}
body {margin:0;}

p, h1, h2, h3 .site-identity, .other-links, a {
    font-family: sans-serif;
}

h2 {
    font-size: 35px;
}
nav ul {
    margin:0;padding:0;
    list-style-type:none;
    display:inline-block;
  }
  
  nav ul li {
    margin:0 20px 0 0;
    display:inline-block;
  }
  
  li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */
  
  li > a:only-child:after { content: ''; }
  
  nav ul li a {
    padding:20px;
    display:inline-block;
    color:white;
    text-decoration:none;
  }
  
  nav ul li a:hover {
    opacity:0.5;
  }
  
  nav ul li ul {
    display:none;
    position:absolute;
    right:0;
    background:#37bc9b;
    float:left;
    width: 30%;
;
    

  }
  
  nav ul li ul li {
    width:100%;
    border-bottom:1px solid rgba(255,255,255,.3);
  }
  
  nav ul li:hover ul {
    display:block;
  }

  .main-nav {
      display: none;
  }
  
 
    .site-identity {
    float: left;
    display: block;
    color: rgb(13, 29, 63);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    }

    .links {
        padding: 10px 5%;
        height: 50px;    
    }

    .other-links {
        float: right;
    }

    .other-links a{
        color: rgb(13, 29, 63);    
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
    }

    .dropdown-icon {
        padding: 14px 0;
    }
    

    /* Footer */
    .footer {
        overflow: hidden;
        background-color: rgb(43, 43, 43);
        bottom: 0;
        width: 100%;
        height: 90px;
        position: static;
        }


    .footer-links{
        margin: 0 5%;
        text-align: center;
        padding: 20px 0 10px 0;

    }
    
    .footer-links a{
        display: inline-block;
        color: white;    
        text-align: center;
        padding: 0 10px;
        text-decoration: none;
        font-size: 9px;
    }

    @media only screen and (min-width: 600px) {

        .footer-links a {
            font-size: 15px;
        }
    
    }


    .attribute {
        text-align: center;
        padding: 10px;
        color: grey;
        font-family: sans-serif;
        font-size: 10px;
    }


    .attribute a {
        text-align: center;
        padding-bottom: 10px;
        color: grey;
        font-family: sans-serif;
    }
    /* Main content front page */
    .main {
    padding: 16px;
    margin-top: 30px;
    }

    .hero-image {
        background-color: #9fdfee;
        background-size: cover; 
        background-position: center center;              /* optional, center the image */

    }

    .hero-text {
        color: rgb(13, 29, 63);
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        padding: 0 20px;
        font-family: sans-serif;
    }
    
    .subtitle {
        color: white;
        text-align: center;
        
    }
    .centered-box {
        display: inline-block;
    }
    
    .hero-freedombox {
        width: 70%;
        float: right;
    
    }
    .subhead {
     font-size: 40px;
     
    }
    
    .container {
        margin: 0 20%;
    }
    
    .container-2 {
        padding: 0 10%;
        background-image: url('{{ site.baseurl }}/assets/image/nyc.jpg');
        background-position: center;
    }
    .blurb {
        margin: auto;
    }
    
    .grid {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
      }
    
    .grid-items {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        text-align: center;
        padding-right: 20px;
    }
    
    .grid-items img {
        width: 80px;
    }
    
    .grid-2 {
        display: grid;
        grid-gap: 20px;
      }
    
    .column-1 {
        padding-bottom: 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .column-2 {
        padding-bottom: 20px;margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .column-2 img {
        width: 100%;
    }
    .grid-items p {
        font-size: 13px;
    }
    
    .grid-3 {
        display: grid;
        grid-gap: 20px;
        background-color: #0000008a;
        
      }
    
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr;
      }
    
    .grid-items-a {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .grid-items-b {
        padding-bottom: 20px;
    }

    .grid-4 h3 {
        margin: auto;
        float: left;
        text-align: left;
    }
    .icon {
        width: 50%;
        float: none;
        padding-bottom: 30px;
    }
    .banner {
        text-align: center;
        background-color: #9fdfee;
        height: 300px;
    }
    
    .banner h2 {
        font-size: 25px;

    }
    
    .banner p {
        font-size: 20px;
    }
    
    .banner-text {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        vertical-align: middle;
        margin: 10% 16px
    ;
        
    }
    
    .contact-heading {
        color: white;
        font-size: 50px;
    }
    
    .contact-subheading {
        color: white;
    }
    
    /* Specific to page.html */
 
    
    .page-title {
        margin: auto 30px;
        text-align: center;
    }
    
    .page-title h2 {
        font-size: 40px;   
    }
    
    .page-wrapper {
        margin: 0 15%;
        min-height: 100vh;
    }
    
    .page-images {
        width: 100%;
        padding-right: 20px;
    }

    .page-section {
        padding-bottom: 100px;
    }
    
    
    /* Column 3 should only be used for if you want centered text next to an image in grid.
    Otherwise use column-2*/
    .column-3 {
        padding-bottom: 0;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .column-4 {
        padding-bottom: 20px;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    
@media only screen and (min-width: 800px) {
    .main-nav {
        display: inline-block;
    }
    .dropdown-icon {
        display: none
    }
    /* Header, Nav, and Footer */

    .navbar {
        overflow: hidden;
        background-color: rgba(51, 51, 51, 0);
        position: fixed;
        top: 0;
        width: 100%;
    }

    .navbar.scrolled {
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        box-shadow: 0 1px 10px -6px rgb(0 0 0 / 42%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px -2px rgb(0 0 0 / 10%);
    }

    .page-navbar {
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        height: 70px;
        box-shadow: 0 1px 10px -6px rgb(0 0 0 / 42%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 4px 5px -2px rgb(0 0 0 / 10%);
        }

    .site-identity {
    float: left;
    display: block;
    color: rgb(13, 29, 63);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    }

    .links {
        padding: 10px 5%;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: right;
    }

    .other-links a{
        float: right !important;
        display: block;
        color: rgb(13, 29, 63);    
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
    }

    /* Footer */
    .footer {
        overflow: hidden;
        background-color: rgb(43, 43, 43);
        bottom: 0;
        width: 100%;
        height: 90px;
        }

    .footer-links a{
        float: right;
        display: block;
        color: white;    
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        font-size: 16px;
    }

    .footer {
        overflow: hidden;
        background-color: rgb(43, 43, 43);
        bottom: 0;
        width: 100%;
        height: 90px;
        }


    .footer-links{
        margin: 0 5%;
        text-align: center;
        padding: 20px;

    }
    
    .footer-links a{
        display: inline-block;
        color: white;    
        text-align: center;
        padding: 0 10px;
        text-decoration: none;
        font-size: 14px;
    }

    /* Main content front page */
    .main {
    padding: 16px;
    margin-top: 30px;
    }

    .hero-image {
        height: 550px;
        background-color: #9fdfee;
        background-size: cover; 
        background-position: center center;              /* optional, center the image */

    }

    .hero-text {
        color: rgb(13, 29, 63);
        text-align: left;
        font-size: 50px;
        margin-bottom: 10px;
        font-family: sans-serif;
    }
    
    .subtitle {
        color: white;
        text-align: center;
        
    }
    .centered-box {
        display: inline-block;
        padding: 20%;
    }
    
    .hero-freedombox {
        width: 70%;
        float: right;
    
    }
    .subhead {
     text-align: center;   
     font-size: 50px;
     
    }
    
    .container {
        margin: 0 20%;
    }
    
    .container-2 {
        padding: 0 10%;
        background-image: url('{{ site.baseurl }}/assets/image/nyc.jpg');
        background-position: center;
    }
    label {
        color: white;
    }
    .blurb {
        margin: 10px;
    }
    
    .grid {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
      }
    
    .grid-items {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        text-align: center;
        padding-right: 20px;
    }
    
    .grid-items img {
        width: 80px;
    }
    
    .grid-2 {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
      }
    
    .column-1 {
        padding-bottom: 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .column-2 {
        padding-bottom: 20px;margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .column-2 img {
        width: 100%;
    }
    .grid-items p {
        font-size: 13px;
    }
    
    .grid-3 {
        padding: 30px 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        background-color: #0000008a;
        
      }
    
    .grid-4 {
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
    
    .grid-items-a {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
    }
    
    .grid-4 h3 {
        margin: auto;
        float: left;
        text-align: left;
    }
    .icon {
        width: 50%;
        float: none;
        padding-bottom: 30px;
    }
    .banner {
        text-align: center;
        background-color: #9fdfee;
        height: 250px;
    }
    
    .banner h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    
    .banner p {
        font-size: 20px;
        margin: 0 20%;
    }
    
    .banner-text {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        
    }
    
    .contact-heading {
        color: white;
        font-size: 50px;
    }
    
    .contact-subheading {
        color: white;
    }
    
    /* Specific to page.html */
    .page-title-wrapper {
        height: 70px;
        padding: 70px;
    }
    
    .page-title {
        margin: 30px 20%;
        text-align: center;
    }
    
    .page-title h2 {
        font-size: 50px;   
    }
    
    .page-wrapper {
        margin: 0 20%;
    }
    
    .page-images {
        width: 100%;
        padding-right: 20px;
        float: left;
    }
    
    
    .column-4 {
        padding-bottom: 0;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
/* Full Screen */
@media only screen and (min-width: 1000px) {
          
      .hero-text {
          color: rgb(13, 29, 63);
          text-align: left;
          font-size: 65px;
          margin-bottom: 10px;
          font-family: sans-serif;
      }
      
      .centered-box {
          display: inline-block;
          padding: 10%;
      }

      
      
    .banner-text {
        margin: 10px 16px
    }
    .attribute {
        text-align: center;
        padding: 10px;
        color: grey;
        font-family: sans-serif;
        font-size: 12px;
    }

}
